name: Build, Push Docker Image & Trigger Lambda

on:
  push:
    branches:
      - main

jobs:
  build-and-trigger:
    runs-on: ubuntu-latest

    steps:
      # Step 1 — Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2 — Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Step 3 — Build Docker Image
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/my-html-site:latest .

      # Step 4 — Push Docker Image
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-html-site:latest

      # Step 5 — Install AWS CLI v2
      - name: Install AWS CLI v2
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          ./aws/install --bin-dir $HOME/.local/bin --install-dir $HOME/.aws-cli
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      # Step 6 — Verify AWS CLI version
      - name: Check AWS CLI version
        run: aws --version

      # Step 7 — Configure AWS Credentials
      - name: Configure AWS Credentials
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set region us-east-1

      # Step 8 — Invoke Lambda After Deployment
      - name: Invoke Lambda Function
        run: |
          aws lambda invoke \
            --function-name NotifyEmailLambda \
            --payload '{"message":"New code pushed to main branch"}' \
            response.json

      # Step 9 — Show Lambda Response
      - name: Show Lambda Response
        run: cat response.json
